<div style="clear:both; height:10px;">&nbsp;</div>
<{foreach from=$categories item=category}>
    <{assign var='newloop' value='1'}>
    <{if $column==0 && $newloop == 1}>
    <div style="clear:both">    
    	<div style="text-align:center; float:left; width:50%;"><a href="<{$xoops_url}>/modules/vidshop/index.php?op=cat&cid=<{$category.cid}>">
        	<{if $category.image}><img src="<{$xoops_url}>/uploads/<{$category.image}>" width="140px" border="0"><br/><{/if}>
            <strong><{$category.name}></strong>
        </a></div>
        <{assign var='column' value='1'}>
        <{assign var='newloop' value='0'}>
    <{/if}>
    <{if $column==1 && $newloop == 1}>
    	<div style="text-align:center; float:right; width:50%;"><a href="<{$xoops_url}>/modules/vidshop/index.php?op=cat&cid=<{$category.cid}>">
        	<{if $category.image}><img src="<{$xoops_url}>/uploads/<{$category.image}>" width="140px" border="0"><br/><{/if}>
            <strong><{$category.name}></strong>
        </a></div>
    </div>
        <{assign var='column' value='0'}>
        <{assign var='newloop' value='0'}>
    <{/if}>    
<{/foreach}>