@charset "utf-8";
/* CSS Document */

p {
	clear:both;
	padding-bottom: 1em;
	color:#663333;
}

ul {
	clear:both;
	padding-bottom: 1em;
}

li {
	color:#333366;
	padding-bottom:0.3em;
	list-style:armenian;
}


h3 {
	clear:both;
	padding-bottom:0.8em;
	padding-top:2.7em;
	color:#FF6666;
}

#div_details {
	font-size: 11px;
	font-family: Franklin Gothic Book, Calibri, Bodoni MT, Arial Unicode MS, Verdana, Arial, Helvetica, sans-serif;
	font-weight: 200;
	color: #333399;
	text-align: left;
}

#div_details.a {
	color: #336666;
}

#div_member_display_image {
	text-align:  center;
}

#div_pagenav_left {
	float: left;
	clear: both;
}

#div_pagenav_right {
	float: right;
	clear: both;
}

#div_row {
	width: 100%;
	clear: both;
	text-align: center;
	padding-bottom: 25px;
}

#div_item_left {
	float: left;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

#div_item_right {
	float: right;
	width: 49%;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

#div_image {
	padding: 15px 15px 15px 15px;
	clear:both;
}

#img_display_image {
	background-color: #FFFFFF;
}

#img_display_image.hover {
	background-color:#669999;
}

#div_name {
	clear: both;
	text-align: center;
	font-weight: bold;
}