<{include file="db:form_check.js.html"}>
<{ include file="db:header.html"}>
<table width="100%"><tr>
    <td width="100%" valign="top"><{$form_pwd}><{$action_field}>
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="pageHeading"><{$smarty.const.HEADING_TITLE}></td>
            <td class="pageHeading" align="right"><{$site_image}></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
<{if $smessage == 1}>
      <tr>
        <td><{$messagetext}></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
<{/if}>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td class="main"><b><{$smarty.const.MY_PASSWORD_TITLE}></b></td>
                <td class="inputRequirement" align="right"><{$smarty.const.FORM_REQUIRED_INFORMATION}></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
              <tr class="infoBoxContents">
                <td><table border="0" cellspacing="2" cellpadding="2">
                  <tr>
                    <td class="main"><{$smarty.const.ENTRY_PASSWORD_CURRENT}></td>
                    <td class="main"><{$pwd_field}>&nbsp;<{$pwd_entry}></td>
                  </tr>
                  <tr>
                    <td colspan="2"><{$seperator}></td>
                  </tr>
                  <tr>
                    <td class="main"><{$smarty.const.ENTRY_PASSWORD_NEW}></td>
                    <td class="main"><{$pwd_new_field}>&nbsp;<{$pwd_new_entry}></td>
                  </tr>
                  <tr>
                    <td class="main"><{$smarty.const.ENTRY_PASSWORD_CONFIRMATION}></td>
                    <td class="main"><{$pwd_conf_field}>&nbsp;<{$pwd_conf_entry}></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="infoBoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><{$seperator1}></td>
                <td><a href="<{$account}>"><{$bt_back}></a></td>
                <td align="right"><{$bt_continue}></td>
                <td width="10"><{$seperator1}></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></form></td>
	</tr></table>