<{include file="db:header.html"}>
<table width="100%"><tr>
    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="pageHeading"><{$smarty.const.HEADING_TITLE}></td>
            <td align="right"><{$site_image}></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><{$smarty.const.TEXT_INFORMATION}></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td class="main"><b><{$smarty.const.SUB_HEADING_TITLE}></b></td>
      </tr>
      <tr>
       <td class="main"><{$smarty.const.SUB_HEADING_TEXT}></td>
      </tr>
      <tr>
        <td align="right" class="main"><a href="<{$href}>"><{$bt_continue}></a></td>
      </tr>
    </table></td>
	</tr></table>