<{include file="db:header.html"}>
<table width="100%"><tr>
    <td width="100%" valign="top"><{$form_pwd}>
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="pageHeading"><{$smarty.const.HEADING_TITLE}></td>
            <td class="pageHeading" align="right"><{$site_image}></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
<{ if $message == 1}>
      <tr>
        <td><{$messagetext}></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
<{/if}>
      <tr>
        <td><table border="0" width="100%" height="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="infoBoxContents">
            <td><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td><{$seperator}></td>
              </tr>
              <tr>
                <td class="main" colspan="2"><{$smarty.const.TEXT_MAIN}></td>
              </tr>
              <tr>
                <td><{$seperator}></td>
              </tr>
              <tr>
                <td class="main"><b><{$smarty.const.ENTRY_EMAIL_ADDRESS}></b><{$email}></td>
              </tr>
              <tr>
                <td><{$seperator}></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="infoBoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><{$seperator1}></td>
                <td><a href="<{$login_link}>"><{$bt_back}></a></td>
                <td align="right"><{$bt_continue}></td>
                <td width="10"><{$seperator1}></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></form></td>
	</tr></table>