<{include file="db:header.html"}>
<table width="100%">
<tr>
	<td><{$form_cart}>
	  <table width="100%">
	   <tr>
	     <td>
		   <table width="100%">
	        <tr>
		      <td class="pageHeading"><{$smarty.const.HEADING_TITLE}></td>
		      <td class="pageHeading" align="right"><{$site_image}></td>  		
	       </tr>
	     </table>
	    </td>
	  </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
<{if $cart == 1}>
	<tr>
		<td><{$product_listing}>
		</td>
	</tr>

    <tr>
        <td><{$seperator}></td>
    </tr>
	<tr>
	  <td align="right" class="main"><b><{$smarty.const.SUB_TITLE_SUB_TOTAL}><{$total}></b></td>
	</tr>
<{if $showSH == 1 }>
	<tr>
	  <td align="right" class="main"><{$smarty.const.TEXT_SHIPPING_HANDLING_INFO}></td>
	</tr>
<{/if}>
<{ if $stock == 1 }>
	<tr>
	   <td class="stockWarning" align="center"><br><{$stocktext}></td>
	</tr>
<{/if}>

      <tr>
        <td><{$seperator}></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="infoBoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><{$seperator1}></td>
                <td class="main"><{$bt_update}></td>
<{ if $navigation == 1 }>
                <td class="main"><a href="<{$nav_link}>"><{$img_continue}></a></td>
<{/if}>
                <td align="right" class="main"><a href="<{$checkout_shipping}>"><{$img_checkout}></a></td>
                <td width="10"><{$seperator1}></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
<{else}>
      <tr>
        <td align="center" class="main"><{$empty_text}></td>
      </tr>
      <tr>
        <td><{$seperator}></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
          <tr class="infoBoxContents">
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td width="10"><{$seperator1}></td>
                <td align="right" class="main"><a href="<{$def_link}>"><{$img_continue}></a></td>
                <td width="10"><{$seperator1}></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
<{/if}>
    </table></form></td>
</tr></table>